
  body {
    height: 100vh;
    text-align: center;
  }

  /*Trigger Button*/
  .login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #FF4500, #FF4500);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
    top: 50%;
  }

  /*Modal*/
  h4 {
    font-weight: bold;
    color: #fff;
  }

  .close {
    color: #fff;
    transform: scale(1.2)
  }

  .modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right, #FF4500, #FF4500);
  }

  .form-control {
    margin: 1em 0;
  }

  .form-control:hover,
  .form-control:focus {
    box-shadow: none;
    border-color: #fff;
  }

  .username,
  .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;
  }

  .form-control::-webkit-input-placeholder {
    color: #eee;
  }

  .form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
  }

  .login {
    padding: 6px 20px;
    border-radius: 20px;
    background: rgb(54, 16, 2);
    border: 2px solid #FF4500;
    color: #FF4500;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
  }

  .login:hover {
    background: rgb(54, 16, 2);
    color: #fff;
  }

  .dearrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
